<!--  
** Module      : AtriJyotishCalc
** File:       : ChartData.cpp
** Description : Calculation of planet and Lagna Information
**
** Contact     : AstroOpenSource@gmail.com
**
** Web site    : http://AtriJyotishAndroid.sourceforge.net/
** Download    : http://sourceforge.net/projects/atrijyotishandroid/
**
** This software is provided "as is", under GNU public license with 
** NO WARRANTY OF ANY KIND, either express or implied.
** No author or distributor accepts any responsibility for the consequences of using it,
** or for whether it serves any particular purpose or works at all. In no event shall   
** the authors or copyright holders be liable for any claim, damages or 
** other liability, arising from the use or performance of this software.
**
-->


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bphs.atrijyotish_calc"
    android:versionCode="5"
    android:versionName="2.60" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
		android:configChanges="keyboardHidden|orientation"
        android:screenOrientation="portrait"
        android:debuggable="false">
        
    </application>

</manifest>

<!--         android:icon="@drawable/ic_launcher"  -->